agent_script_download_path  = "463N7"
get_result_path             = "r35U17"
fastly_api_token            = "YOUR_API_TOKEN_CREATED_IN_FASTLY_DASHBOARD"
service_id                  = "YOUR_EMPTY_FASTLY_COMPUTE_SERVICE_ID_CREATED_ON_FASTLY_DASHBOARD"
integration_domain          = "your-fingerprint-proxy-example.edgecompute.app"
